[submodule "Engine/vendor/raylib"]
	path = Engine/vendor/raylib
	url = https://github.com/ThatTanishqTak/raylib.git
[submodule "Engine/vendor/rlImGui"]
	path = Engine/vendor/rlImGui
	url = https://github.com/ThatTanishqTak/rlImGui.git
[submodule "Engine/vendor/imgui"]
	path = Engine/vendor/imgui
	url = https://github.com/ThatTanishqTak/imgui.git
	branch = docking
[submodule "Engine/vendor/stb"]
	path = Engine/vendor/stb
	url = https://github.com/ThatTanishqTak/stb.git
[submodule "Engine/vendor/glew"]
	path = Engine/vendor/glew
	url = https://github.com/ThatTanishqTak/glew.git
